h1 {
    font-weight: 700;
    font-size: 40px;
    margin: 10px;
    margin-bottom: 20px;
}
input{
    width: 100%;
}
.items-container {
    text-align: left;
}
.r-row {
    margin: 8px 5px;
}

.bt-button{
    min-width: 80px;
}